<divc lass= "navbar">
  <div class="topnav">
    <a class="active" href="{%url 'index' %}">Home</a>
  </div>
    <div class="search">
      <label for="name">Search</label>
      <input type="text" placeholder="Buscar Personaje" value="" >
  </div>
</div>
<div class="title">
  <h2>Episodio {{episode.episode}}  {{episode.title}}</h2>
  <div>
    <p>Temporada {{episode.season}}</p>
    <p>Fecha lanzamiento: {{episode.air_date}}</p>
    <p>Personajes</p>
    {%for character in episode.characters%}
    <ul>
      <li>
        <a href="{%url 'show_character' character%}">{{character}}</a>  
      </li>
    </ul>
    {% endfor%}
    <p>Series: {{episode.series}}</p>
  </div>
</div>