<header>
  <divc lass= "navbar">
    <div class="topnav">
      <a class="active" href="{%url 'index' %}">Home</a>
    </div>
      <div class="search">
        <form method=POST action="{%url 'search_results' %}"> 
          {% csrf_token %}
          <input name="value" type="search" placeholder="Buscar Personaje">
          <button type='submit'> Buscar</button>
        </form>
    </div>
  </div>
</header>
<div class="title">
  <h1> BREAKING BAD</h1>
  <div>
    <h3>Temporada {{numero_temporada}}</h3>
    {%for episode in episodes%}
    <ul>
      <li>
        <a href="{%url 'show_episode' episode.episode_id%}">{{episode.title}}</a>  
      </li>
    </ul>
    {% endfor%}
  </div>
</div>