<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tarea 1</title>
  </head>
  <body>
    <header>
      <divc lass= "navbar">
        <div class="topnav">
          <a class="active" href="{%url 'index' %}">Home</a>
        </div>
          <div class="search">
            <form method=POST action="{%url 'search_results' %}"> 
              {% csrf_token %}
              <input name="value" type="search" placeholder="Buscar Personaje">
              <button type='submit'> Buscar</button>
            </form>
        </div>
      </div>
    </header>
      <div class="title">
        <h1> BREAKING BAD</h1>
        <div>
          {%for n in temporadas_bb%}
          <ul>
            <li>
              <a href="{%url 'episodes_bb' n%}"> Temporada {{n}}</a>          
            </li>
          </ul>
          {% endfor%}
        </div>
      </div>
      <div class="title">
        <h1> BETTER CALL SAUL</h1>
        <div>
          {%for n in temporadas_bcs%}
          <ul>
            <li>
              <a href="{%url 'episodes_bcs' n%}"> Temporada {{n}}</a>    
            </li>
          </ul>
          {% endfor%}
        </div>
      </div>
  </body>
</html>