<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tarea 1</title>
    <div class="topnav">
      <h2 class="active" href="#home">Home</h2>
    </div>
    <div class="search">
      <form method=GET action="{% url 'search_results' %}"> 
        <input name="value" type="search" placeholder="Buscar Personaje">
        <button type='submit'> Buscar</button>
      </form>
  </div>
  </head>

  <body>
    <header>

    </header>
      <div class="title">
        <h1> BETTER CALL SAUL</h1>
        <div>
          <ul>
          {%for season in seasons%}     
            <li>
              <a href="{{'index'}}">Temporada</a>
            </li>       
          {% endfor%}
        </ul>
        </div>
      </div>

      <div class="title">
        <h1> BREAKING BAD y BETTER CALL SAUL</h1>
      </div>
      <div>
        <ul>
          <li>
          {%for season in seasons%}
          {%for episode in season%}
            <a>episode</a>
          </li>
        </ul>
          {% endfor%}
          {% endfor%}
      </div>
  </body>
</html>