<header>
  <divc lass= "navbar">
    <div class="topnav">
      <a class="active" href="{%url 'index' %}">Home</a>
    </div>
      <div class="search">
        <form method=POST action="{%url 'search_results' %}"> 
          {% csrf_token %}
          <input name="value" type="search" placeholder="Buscar Personaje">
          <button type='submit'> Buscar</button>
        </form>
    </div>
  </div>
</header>
<div class="title">
  <h2> Resultados de la búsqueda</h2>
  <div>
    {%for character in characters%}
    <ul>
      <li>
        <a href="{%url 'show_character' character.name%}">{{character.name}}</a>
      </li>
    </ul>
    {% endfor%}
  </div>
</div>